src/state-machines/create-jpeg.json
{
    "Comment": "Create JPEG of an image",
    "StartAt": "CreateJpegFromRAWInvoke",
    "States": {
        "CreateJpegFromRAWInvoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${CreateJpegFromRawName}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "PutDdbPutEvent"
        },
        "PutDdbPutEvent": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "Parameters": {
                "Entries": [
                    {
                        "Detail": {
                            "X_StepFunctionTaskToken.$": "$$.Task.Token",
                            "TableName": "${DdbTableName}",
                            "Item.$": "$.Item"
                        },
                        "DetailType": "AWS::DynamoDB::PutItem",
                        "EventBusName": "${EventBusName}",
                        "Source": "PhotoOps::CreateJpeg::PutDdbPutEvent"
                    }
                ]
            },
            "ResultPath": "$.DdbPutResponse",
            "Next": "HasStateToken"
        },
        "HasStateToken": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$$.Execution.Input.X_StepFunctionTaskToken",
                    "IsPresent": true,
                    "Next": "SendTaskSuccessCallBack"
                }
            ],
            "Default": "Success"
        },
        "SendTaskSuccessCallBack": {
            "Type": "Task",
            "Parameters": {
                "Output.$": "$",
                "TaskToken.$": "$$.Execution.Input.X_StepFunctionTaskToken"
            },
            "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
            "ResultPath": "$.SfnTaskSuccessResponse",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}